version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      react:
        patterns:
          - "*react*"
      eslint:
        patterns:
          - "*eslint*"
  - package-ecosystem: "github-actions" 
    directory: "/"
    schedule:
      interval: "weekly"
